.header-right{
    display: flex;
    position: sticky;
    justify-content: space-between;
    direction: rtl;
    background-color: #fff;
    min-height: 70px;
    align-items: center;
    padding: 0px 35px;
    -webkit-box-shadow: 0px 0px 40px -25px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 40px -25px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 40px -25px rgba(0, 0, 0, 1);
}
.header-left{
    display: flex;
    position: sticky;
    z-index: 1;
    justify-content: space-between;
    background-color: #282a3c;
    color: #fff;
    min-height: 70px;
    align-items: center;
    padding: 0px 30px;
}
.bi-list{
    font-size: 30px;
}
.bi-three-dots-vertical{
    font-size: 20px;
}
.dots{
    display: none;
}
.burger{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5a5b74;
}
.logo{
    color: #b6b6b9;
    text-decoration: none;
}

.logo:hover{
    color: #b6b6b9;
}

@media (max-width: 1100px){
    .header-left{
        position: absolute;
        min-height: 60px;
        width: 100vw;
        top: 0;
        left: 0;
    }
    .header-right{
        position: absolute;
        width: 100vw;
        min-height: 50px;
        top: 0px;
        left: 0;
        transition: 0.5s;
    }
    .header-left-buttons{
        display: flex;
        
    }
    .dots{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: #5a5b74;
    }
    .burger{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        color: #5a5b74;
    }
}

@media(max-width:1100px){
    .header-right.active{
        top: 60px;
    }
}